html, body {
 background-color: #dfd2f9;

}

.text-center {
    margin: 0px auto;
    text-align: center;
    position: relative; top: 10px;
}

.text-left {
    text-align: left; 
}



h1 {
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 32pt;
    color: #987bd3;
    text-align: center;
}

p {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 18pt;
    color: rgb(78, 78, 78);
    line-height: 24pt;
    text-align: center;
}


#logo-1 {
    width: 100px;
    border-color: #fff;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
    margin: 0px auto;
    
}

#result {
    background-color: #ffffff;
    width: 300px;
    height: 55px;
    border-top-left-radius: 1.2em;
    border-top-right-radius: 1.2em;
    margin-top: 22px;
    padding-top: 26px;
} 

#output-value {
    font-family: 'Quattrocento Sans', sans-serif;
    letter-spacing: 2px;
    font-weight: 800;
    font-size: 2em;
    color: #60419e;
    text-align: left; 
}

span{
    padding: 30px;
}

#keyboard {
    background-color: #c8bae5;
    width: 300px;
    height: 377px;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    padding-top: 25px;
} 



button {
    width: 60px;
    height: 60px; 
    border-radius: 50%;
    display: inline-block; 
    cursor: pointer; 
    font-size: 1.4em;
    font-family: 'Quattrocento Sans', sans-serif;
  
}

button:focus {
    outline:none;
    box-shadow: none;
  }


.number {
    background-color: #987bd3;
    color: rgba(255, 255, 255, 0.845);
    margin: 0px 1px 8px 0px;
}

.number:hover {
    background-color: #7c5eb8;
}

.number:active {
    background-color: #60419e;
}


.operator {
    background-color: #6646a7;
    color: white;
}

.operator:hover {
    background-color:#4d3480;
}

.operator:active {
    background-color:coral;
}

.white{
    background-color: white;
    color: #987bd3;
}

.white:hover {
    background-color:rgb(249, 160, 128);
    color: white;
}

.white:active {
    background-color:rgb(250, 90, 32);;
    color: white;
}

.big{
    background-color: coral;
    color: white;
    width: 252px;
    border-radius: 33px;
    font-size: 2em;

}

.big:hover {
    background-color:rgb(249, 104, 52);
    color: white;
}

.big:active {
    background-color:rgb(250, 90, 32);
    color: white;
}

#history-value {
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 80pt;
    color: #ccb6f7bf;
    text-align: left;
    position: absolute; bottom: 300px; left: 50px;
}


